# Python bytecode
__pycache__/
*.pyc
src/waterio/1

# Compiled extensions
*.so
*.pyd
*.dll

# Build / packaging
build/
dist/
*.egg-info/

# Test / tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors
.vscode/
.ipynb_checkpoints/


__pycache__/
*.pyc


__pycache__/
*.pyc

