site_name: SolsysGen / WaterIO API
repo_url: null

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md
  - API Reference:
      - solsysgen: solsysgen.md
      - waterio: waterio.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_root_heading: true
            show_source: false
            members_order: source
            separate_signature: true
            show_signature_annotations: true
            merge_init_into_class: true

watch:
  - src
  - docs
